body{
	background-image: url("Grey-website-background.png");
	background-position: auto;
	background-size: cover;
}

h1{
	text-align:center;
	color: white;
	font-family: "Courier New", Courier, monospace
}

p{
	text-align:center;
	color: white;
	font-family: "Courier New", Courier, monospace
}

img{
	display: block;
	margin-left:250px;
	margin-right: auto;
	width: 15%;
}