body{
	background-image: url("Grey-website-background.png");
	background-position: auto;
	background-size: cover;
}

label{
	text-align:center;
	color: white;
	font-family: "Courier New", Courier, monospace
}

textarea{

}